/* All styles */
body {
    background-color: #EEEEEE;
}
h1 {
    margin-bottom: 15px;
}
h2 {
    margin-top: 0px;
}
a {
    text-decoration: none;
    color: #4F4F4F;
    display: block;
}
a:hover {
    text-decoration: none;
    color: #4F4F4F;
}
[id='0'] {
    background-color: #EBF5FB;
}
[id='1'] {
    background-color: #D6EAF8;
}
[id='2'] {
    background-color: #AED6F1;
}
[id='3'] {
    background-color: #85C1E9;
}
[id='4'] {
    background-color: #5DADE2;
}
[id='5'] {
    background-color: #3498DB;
}
[id='6'] {
    background-color: #2E86C1;
}
.weather-container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    max-width: 750px;
}
.week-weather-container {
    width: 100%;
}
.week-weather {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.single-weather {
    background-color: #FFFFFF;
    width: 100%;
}
.single-weather h1 {
    font-size: 60px;
}
.single-weather h2{
    padding-top: 20px;
}
.single-weather-layout {
    display: flex;
    justify-content: space-around;
}
.date {
    width: 50px;
}
.week-desc {
    display: none;
}
.city-selector {
    margin: 0 auto;
    text-align: center;
    max-width: 750px;
    margin-top: 15px;
}
.city-selector input {
    height: 40px;
    font-size: 24px;
}

@media (max-width: 450px) {
    .weather-container {
        margin-top: 30px;
    }
    .city-selector {
        margin-top: 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.7;
    }
}
